<h1>JobHunter</h1>

<h2>table_name</h2>
<table>
  <thead>
  	<tr>
  	  <td>Col-1</td>
  	  <td>Col-2</td>
  	  <td>...</td>
  	  <td>Col-n</td>
    </tr>
  </thead>
  <tbody>
  	<tr>
  	  <td>Val-1</td>
  	  <td>Val-2</td>
  	  <td>...</td>
  	  <td>Val-n</td>
  	</tr>
  <tbody>
<table>

<div id="recruiting_firms" data-ng-controller="RecruitingFirmCtrl">
  <h2>recruiting firms</h2>
  <table>
    <thead>
      <tr>
        <td>Employer</td>
        <td>Job</td>
        <td>Recruiter</td>
        <td>Next Action</td>
        <td>Aging</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Wonka Chocolate</td>
        <td>Oompa Loompa Wrangler</td>
        <td>-</td>
        <td>Live Interview</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Dunder Mifflin</td>
        <td>Paper Specialist</td>
        <td>David @ Wernham-Hogg</td>
        <td>Call David</td>
        <td>2 days</td>
      </tr>
    </tbody>
  </table>
</div>

<h2>table_name</h2>
<table>
  <thead>
  	<tr>
  	  <td>Col-1</td>
  	  <td>Col-2</td>
  	  <td>...</td>
  	  <td>Col-n</td>
    </tr>
  </thead>
  <tbody>
  	<tr>
  	  <td>Val-1</td>
  	  <td>Val-2</td>
  	  <td>...</td>
  	  <td>Val-n</td>
  	</tr>
  <tbody>
<table>
