<h2>Developer Links</h2>
<h3>(remove for production)</h3>

<ul>
  <li><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">The Hartl Tutorial</a> - Full of useful information that helps long past the first read</li>
  <li><a href="http://guides.railsgirls.com/devise/">The Rails Girls Guide to Devise</a> - Best starting guide to Devise regardless of
  	the reader's gender.</li>
  <li><a href="https://github.com/seyhunak/twitter-bootstrap-rails">twitter-bootstrap-rails on GitHub</a></li>
  <li><a href="http://railscasts.com/episodes/328-twitter-bootstrap-basics">Railscast on bootstrap basics</a> - a great introduction</li>
</ul>