development:
  adapter: postgresql
  encoding: unicode
  database: jobhunter-dev
  pool: 5
  host: localhost
  username: 
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: jobhunter-test
  pool: 5
  host: localhost
  username: 
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: jobhunter-prod
  pool: 5
  host: localhost
  username: 
  password:
  